@use './tabs-theme';
@use './terminal';

* {
	box-sizing: border-box;
}

html, body {
	 height: 100%;
	 width: 100%;
	 margin: 0;
	 padding: 0;
 	 background: var(--bg-primary);
 	 color: var(--text-primary);
	 overflow: hidden;
}

#root, .app-container {
	 height: 100%;
	 width: 100%;
	 margin: 0;
	 padding: 0;
 	 background: var(--bg-primary);
 	 color: var(--text-primary);
	 display: flex;
	 flex-direction: column;
}

.pane-content {
	 padding: var(--space-md);
	 font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
 	 color: var(--text-primary);
	 height: 100%;
	 width: 100%;
}

.lm_root { 
	height: 100%; 
	width: 100%;
}
